@font-face {
    font-family: 'Vollkorn';
    src: local('Vollkorn Black'),
        url('~@/assets/fonts/volkorn/Vollkorn-Black.woff2') format('truetype2'),
        url('~@/assets/fonts/volkorn/Vollkorn-Black.woff') format('truetype');
    font-display: swap;
    font-weight: 900;
    font-style: normal;
    unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
    font-family: 'Vollkorn';
    src: local('Vollkorn Bold'),
        url('~@/assets/fonts/volkorn/Vollkorn-Bold.woff2') format('woff2'),
        url('~@/assets/fonts/volkorn/Vollkorn-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
    unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
    font-family: 'Vollkorn';
    src: local('Vollkorn Semibold'),
        url('~@/assets/fonts/volkorn/Vollkorn-Semibold.woff2') format('woff2'),
        url('~@/assets/fonts/volkorn/Vollkorn-Semibold.woff') format('woff');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
    unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
    font-family: 'Vollkorn';
    src: local('Vollkorn Regular'),
        url('~@/assets/fonts/volkorn/Vollkorn-Regular.woff2') format('woff2'),
        url('~@/assets/fonts/volkorn/Vollkorn-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
    unicode-range: U+000-5FF; /* Latin glyphs */
}
