// Variables 🧮 //

// Colors 🎨
$black: #151515;
$lightBlack: #292929;
$grey: #B5B5B5;
$yellow: #D7BB61;
$lightYellow: #ffef9e;
$white: #ffffff;
$green: #BAF089;
$red: #f02e35;

// Fonts ✍
// serif
$serif-font: Vollkorn, serif;

// sans
$sans-serif-font: 'Helvetica Now Display', sans-serif;
